<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body><div id="maindiv">
    
    <form action="/logout" method="get">
        <h1> hi <%=name%> </h1>
        <button  id="btn" type="submit">Logout</button>
    </form>
</div>
    
</body>
</html>